
{{ set_assets('applications/Knowledgebase/Addons/Article/assets/css/style.css') }}

<div class="block-tabular-articles">
    {% if articles|length > 0 %}
        {% for article in articles %}
            <div class="col-sm-4">
                <div class="tabular-article">


                    <a href="{{ generate_url('knowledgebase.articles.detail', {'id': article.id}) }}" title="{{ article.title }}" >
                        {{ article.title|capitalize|truncate(50)|raw  }}
                    </a>
                    <br>

                    <small>
                        <i class="fa fa-clock-o"> Posted On:</i>{{ article.date_created|date('Y-m-d',  document.timezone) }} 
                    </small>

                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        No Latest Articles
    {% endif %}
    <div class="clearfix"></div>
</div>